<!-- Portfolio Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section portfoliosizer" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    
    <!-- heading and subheading -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading ">{{ site.data.sitetext[site.locale].portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <!--h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].portfolio.text | markdownify }}</h3-->
      </div>
    </div>

    <!-- portfolio items -->
    <div class="row">
      {% for project in site.portfolio %}
      <div class="col-md-4 col-sm-6 portfolio-item">

        <!--a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}"-->
        <a class="portfolio-link" id="my-clickit{{ forloop.index }}" href="#p{{ forloop.index }}">

          <!-- hover -->
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-chevron-down fa-3x dynamic-icon" id="icon{{ forloop.index }}"></i>
            </div>
          </div>

          <!-- image -->
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>

        <!-- caption below cover image -->
        <div class="portfolio-caption">

          <h4>{{ project.caption.title }}</h4>
          
          <p class="text-muted" id="my-hideit{{ forloop.index }}" style="display: block;">{{ project.caption.subtitle }}</p>

          <div class="text-center" id="my-showit{{ forloop.index }}" style="display: none;">
            <a class="mysongbuttons" href="{{ project.listenlink }}">
              <button class="mysongbuttons">
                <i class="fas fa-music"></i> Listen                
              </button>
            </a>
            {% if project.downloadlink %}
            <a class="mysongbuttons" href="{{ project.downloadlink }}" download="{{ project.title }}.zip">
              <button class="mysongbuttons">
                <i class="fas fa-download"></i> Sheets
              </button>
            </a> 
            {% endif %}
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.portfolio.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.portfolio %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% endif %}

<script>
  
  // Attach click event listeners to change icons for each dynamically created item
  document.querySelectorAll('[id^="my-clickit"]').forEach(function(clickit) {
    clickit.addEventListener("click", function() {

      const index = this.id.replace('my-clickit', '');
      const showit = document.querySelector("#my-showit" + index);
      const hideit = document.querySelector("#my-hideit" + index);
      const icon = document.querySelector("#icon" + index);

      // Toggle visibility of text vs buttons
      if (showit.style.display === "none") {
          hideit.style.display = "none";
          showit.style.display = "block";
      } else {
          showit.style.display = "none";
          hideit.style.display = "block";
      }

      // Toggle the icon class
      if (icon.classList.contains('fa-chevron-down')) {
          icon.classList.remove('fa-chevron-down');
          icon.classList.add('fa-chevron-up');
      } else {
          icon.classList.remove('fa-chevron-up');
          icon.classList.add('fa-chevron-down');
      }

      
    });
  });

</script>

{% include modals.html %}

