<div>
    <div class="vidcontainer" >  
        <iframe src="https://www.youtube.com/embed/AdUmyQZlkQY" title="YouTube video player" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
    </div>
</div>

<style>

    .vidcontainer {
        text-align: center;
        margin-bottom: 7%;
    }

    .vidcontainer iframe {
        width: 50%;
        aspect-ratio: 16/9;
    }

    @media (max-width: 768px) {
        .vidcontainer iframe {
            width: 80%;
        }
    }

  
</style>