<div class="text-center yt-vid" style="margin-bottom: 50px; width: 100%; padding-top: 56.25%;">
    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/AdUmyQZlkQY?si=2H1lUxEI3SLtyJSQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe-->
    <iframe src="https://www.youtube.com/embed/AdUmyQZlkQY?si=1SusUHDUl3lx4AbW&amp;start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="width: 100%; height: 100%;"></iframe>
</div>
