// Styling for the navbar
#mainNav {
  background-color: $gray-900;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary;
    @include script-font;
    font-style: italic;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
.topleft {
  float: left;
  margin: 9px;
}
.topright {
  float: right;
  margin: 9px;
}
.img-sizer {
  height: 50px;
}
.mynavbuttons {
  font-size: 20px;
  font-family: Newsreader;
  font-style: italic;
  border: none;
  background: none;
  color: $gray-900;
}
.mynavbuttons:focus {  
  color: $gray-900;
  outline: none !important;
  box-shadow: none !important;
}
.mynavbuttons:hover {
  color: $gray-700;
  border: none;
  text-decoration: none;
}
.mysongbuttons { // In portfolio html ...
  margin: 0;
  font-size: 15px;
  font-family: Newsreader; //Instrument Serif;
  //font-family: Instrument Serif;
  //@include serif-font;
  font-style: normal;
  //font-weight: 500;
  
  background: none;
  //border-radius: 2px;
  //margin-inline: 1%;
  //width: 40%;
  color: $gray-600;
  border: none;
}
.mysongbuttons:hover {
  color: $gray-500;
  text-decoration: none;
}
.mysongbuttons:focus {
  color: $gray-600;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }

  .topleft {
    float: left;
    margin: 10px;
  }
  .topright {
    float: right;
    margin: 10px;
  }
  
  .img-sizer {
    height: 80px;
  
  }
  .mynavbuttons {
    margin: 0;
    font-size: 30px;
    font-family: Newsreader;
    font-style: italic;
    border-style: none;
    border: none;
    background: none;
    color: $gray-900;
  }
  .mynavbuttons:focus {    
    color: $gray-900;
    outline: none !important;
    box-shadow: none !important;
  }
  .mynavbuttons:hover {
    color: $gray-700;
    border: none;
    text-decoration: none;
  }
  .mysongbuttons { // In portfolio html ...
    font-size: 20px;
    font-family: Newsreader; //Instrument Serif;
    //font-family: Instrument Serif;
    //@include serif-font;
    font-style: normal;
    //font-weight: 500;
    
    background: none;
    //border-radius: 2px;
    margin-inline: 2%;
    //width: 40%;
    color: $gray-600;
    border: none;
  }
  .mysongbuttons:hover {
    color: $gray-500;
    text-decoration: none;
  }
  .mysongbuttons:focus {
    color: $gray-600;
  }

}
