// Styling for the contact section
section#contact {
  background-color: $gray-900;
  //background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
    margin-bottom: 1%;
  }
  .section-subheading {
    color: $gray-100;
    font-size: larger;
    margin-bottom: 5%;
  }
  .form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    input,
    textarea {
      padding: 10px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control {
    width: 60%; /* Adjust the width to fit your needs */
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}

@media (min-width: 400px) {

  .form-control {
    width: 40%; /* Adjust the width to fit your needs */
  }
}