// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 90px 0 70px; // top - left&right - bottom padding
  h2.section-heading {
    font-size: 40px;
    font-style: italic;
    margin-top: 0;
    //margin-bottom: 15px;
    margin-bottom: 30px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
.portfoliosizer {
  padding: 30px 0 70px; // top - left&right - bottom padding
}
.abouttextsizer {
  font-size: 20px;
}
.aboutimgsizer {
  width: 80px; 
  border-radius: 50%; 
  margin-bottom: 5px;
}
// Big Screen:
@media (min-width: 768px) {
  section {
    padding: 140px 0 120; // top - left&right - bottom padding
  }
  .page-section{
    h2.section-heading {
      margin-bottom: 50px;
    }
  }
  .portfoliosizer {
    padding: 50px 0 70px; // top - left&right - bottom padding
  }
  .abouttextsizer {
    font-size: 27px;
  }
  .aboutimgsizer {
    width: 120px; 
    border-radius: 50%; 
    margin-bottom: 10px;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
